#content{
    padding: 12vw 10px 10px 10px;
    min-height: 800px;
}

body{
    background-color: #b0b0b0;
}

.header{
    background: #f0f0f0 url("/static/img/banner.png");
    height: 10vw;
    transition: 0.5s;
}

.header h1{
    font-size: 3vw;
    color: #fff;
    mix-blend-mode: difference;
}

.header.shrink{
    height: 4vw;
}

.nav-tabs li{
    background-color: #ffffff;
}

.footer{
    padding: 10px;
    background-color: #0f0f0f;
}

#content{
    background: #ffffffdd;
}

.profiler{
    z-index: 2048;
    right: unset;
    left: 85%;
    width: 14%;
    height: 14%;
    transition: .8s;
}

#logout-btn{
    font-size: .5rem;
    opacity: 0;
    -webkit-transition: opacity 1.0s ease-in-out;
       -moz-transition: opacity 1.0s ease-in-out;
         -o-transition: opacity 1.0s ease-in-out;
}

#logout-btn.shrink{
    display: inherit;
    opacity: 1;
}

.avatar{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.profiler.shrink{
    width: 4%;
    height: 4%;
}