{% extends "base.html" %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}

{% block media %}
<link rel="stylesheet" href="{% static "js/highlight/styles/monokai.css"%}">
<script src="{% static "js/marked/marked.min.js" %}"></script>
<script src="{% static "js/highlight/highlight.pack.js" %}"></script>
<script>
    hljs.initHighlightingOnLoad();
    marked.Renderer.prototype.blockquote = function(quote) {
        return '<blockquote class="card card-body">\n' + quote + '</blockquote>\n';
    };
    const renderer = new marked.Renderer();
    renderer.code = function(code, language) {
        // Check whether the given language is valid for highlight.js.
        const validLang = !!(language && hljs.getLanguage(language));
        // Highlight only if the language is valid.
        const highlighted = validLang ? hljs.highlight(language, code).value : code;
        // Render the highlighted code with `hljs` class.
        return `<pre><code class="hljs ${language}">${highlighted}</code></pre>`;
    };
    $(window).ready(function () {
        var content = $('#content-area');
        marked.setOptions({ renderer });
        var md = marked(content.text());
        content.html(md);
    });
</script>
{% endblock %}

{% block content %}
<div class="article card h-100">
    <div class="card-body">
        <h1 class="card-title">
            {{ article.title}}
        </h1>
        <hr class="my-1">
        <p class="card-text" id="content-area">{{ article.content}}</p>
    </div>
</div>
<div class="comments card h-100">
    <div class="card-body">
        <h2>Comments</h2>
        <hr class="my-1">
        {% if user.is_authenticated %}

            <form action="/article/{{ article.id }}/add_comment" method="post" id="comment_form">
                {% csrf_token %}
                <div class="row col-12">
                    <label id="comment">Write Comment:<br>
                        <textarea name="content" style="resize:none" rows="4" cols="100"></textarea>
                    </label>
                </div>
                <input type="submit" id="comment_submit" />
            </form>
            <script>
                $("#comment_form").submit(function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var url = form.attr('action');
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        success: function(data)
                        {
                            document.location.reload(); // show response from the php script.
                        }
                    });
                })
            </script>
            <hr class="my-1">
        {% endif %}
        <div class="container" style="padding: 10px">
            {% for comment in comments %}
                <div class="row">
                    <div class="col-1">
                        <img src="{{ comment.created_by.userprofile.avatar_url }}" alt="N/A" width="100%" height="auto"/>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <p>{{ comment.created_by.username }}:</p>
                        </div>
                        <div class="row">
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                    <hr class="my-1">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}